In [51]:
import pandas as pd

file_id = "11nqJ9AiQR9rf9A6lI1Jg8_QcX4e3hqYW" # téléchargement du fichier Global Debt Database
url = f"https://drive.google.com/uc?export=download&id={file_id}"

df_global_debt_OECD = pd.read_csv(url, skiprows=3)

print(df_global_debt_OECD.head())

        Pays  Year Total private debt, \nall instruments\n(percent of GDP)  \
0  Australia  1950                                                NaN
1  Australia  1951                                                NaN
2  Australia  1952                                                NaN
3  Australia  1953                                                NaN
4  Australia  1954                                                NaN

  Total private debt, \nloans and debt securities\n(percent of GDP)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                              52,79
4                                              56,93

  Household debt, all instruments\n(percent of GDP)  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

  Household debt, loans and debt securities\n(percent of GDP)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Non-financial corporations debt, all instruments\n(percent of GDP)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Non-financial corporations debt, loans and debt securities\n(percent of GDP)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Public sector debt\n(percent of GDP)  \
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN

  Nonfinancial public sector debt\n(percent of GDP)  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

  General government debt\n(percent of GDP)  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

  Central government debt\n(percent of GDP)  \
0                                    109,62
1                                     86,94
2                                     85,92
3                                     79,73
4                                     76,71

  Nominal gross domestic product\n(billions)
0                                       8,41
1                                       9,21
2                                       9,65
3                                      10,53
4                                      11,47

In [52]:
display(df_global_debt_OECD.sample(10))

,Pays,Year,"Total private debt, \nall instruments\n(percent of GDP)","Total private debt, \nloans and debt securities\n(percent of GDP)","Household debt, all instruments\n(percent of GDP)","Household debt, loans and debt securities\n(percent of GDP)","Non-financial corporations debt, all instruments\n(percent of GDP)","Non-financial corporations debt, loans and debt securities\n(percent of GDP)",Public sector debt\n(percent of GDP),Nonfinancial public sector debt\n(percent of GDP),General government debt\n(percent of GDP),Central government debt\n(percent of GDP),Nominal gross domestic product\n(billions)
183,Belgium,1983,NaN,"87,77",NaN,"30,86",NaN,"56,92",NaN,NaN,"110,29","82,43","107,43"
2294,Slovak Republic,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"23,94",NaN,"17,06"
2125,Poland,1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"0,16"
2646,Turkiye,1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"17,87","0,00"
1912,Netherlands,1987,NaN,"167,36",NaN,NaN,NaN,NaN,NaN,NaN,"71,29",NaN,"226,96"
1556,Korea,2006,NaN,"142,21",NaN,"65,00",NaN,"77,21",NaN,NaN,"27,04","26,13","1045663,20"
1142,Iceland,1967,NaN,"89,96",NaN,NaN,NaN,NaN,NaN,NaN,"8,80",NaN,"0,28"
1202,Ireland,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"47,43","0,64"
2048,Norway,1973,NaN,"116,09",NaN,NaN,NaN,NaN,NaN,NaN,"40,26","23,05","128,07"
2308,Slovak Republic,2008,"97,72","65,26","26,70","20,88","71,02","44,39",NaN,NaN,"28,61","33,87","68,56"

In [53]:
df_global_debt_OECD.columns = [col.replace('\n', ' ') for col in df_global_debt_OECD.columns] # nettoyage des \n

In [54]:
df_global_debt_OECD.head()

,Pays,Year,"Total private debt, all instruments (percent of GDP)","Total private debt, loans and debt securities (percent of GDP)","Household debt, all instruments (percent of GDP)","Household debt, loans and debt securities (percent of GDP)","Non-financial corporations debt, all instruments (percent of GDP)","Non-financial corporations debt, loans and debt securities (percent of GDP)",Public sector debt (percent of GDP),Nonfinancial public sector debt (percent of GDP),General government debt (percent of GDP),Central government debt (percent of GDP),Nominal gross domestic product (billions)
0,Australia,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"109,62","8,41"
1,Australia,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"86,94","9,21"
2,Australia,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"85,92","9,65"
3,Australia,1953,NaN,"52,79",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"79,73","10,53"
4,Australia,1954,NaN,"56,93",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"76,71","11,47"

In [55]:
df_global_debt_OECD.to_csv("global_debt_OECD.csv", index=False, encoding="utf-8-sig")

In [56]:
df_global_debt_OECD.shape

(2850, 13)

In [57]:
# on drop public sector debt et non financial public sector debt pour cette partie de l'analyse

df_global_debt_OECD2 = df_global_debt_OECD.drop(columns=['Public sector debt (percent of GDP)', 'Nonfinancial public sector debt (percent of GDP)'])

In [58]:
# regardons les NaN pour chaque année 
# On groupe par 'Year', et pour chaque groupe on additionne toutes les valeurs nulles
nan_par_annee = df_global_debt_OECD2.groupby('Year').apply(lambda x: x.isnull().sum().sum())

# Affichage du résultat
print(nan_par_annee)

Year
1950    273
1951    270
1952    270
1953    267
1954    266
       ...
2020     12
2021     12
2022     12
2023     13
2024     32
Length: 75, dtype: int64

/tmp/ipykernel_17109/3584454667.py:3: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nan_par_annee = df_global_debt_OECD2.groupby('Year').apply(lambda x: x.isnull().sum().sum())

In [59]:
# Trier les résultats par ordre décroissant
nan_par_annee_trié = nan_par_annee.sort_values(ascending=False)

# Afficher le résultat en liste
print(nan_par_annee_trié.reset_index().values.tolist())

[[1950, 273], [1951, 270], [1952, 270], [1953, 267], [1954, 266], [1955, 265], [1956, 265], [1957, 265], [1959, 264], [1958, 263], [1960, 258], [1961, 254], [1962, 251], [1963, 249], [1964, 245], [1965, 245], [1968, 244], [1966, 243], [1967, 243], [1969, 239], [1970, 221], [1971, 220], [1972, 219], [1973, 219], [1974, 218], [1975, 216], [1976, 216], [1977, 212], [1978, 211], [1979, 208], [1981, 202], [1980, 201], [1982, 201], [1984, 198], [1985, 198], [1983, 197], [1986, 196], [1987, 196], [1988, 196], [1989, 193], [1990, 173], [1991, 172], [1992, 167], [1993, 163], [1994, 151], [1995, 62], [1996, 57], [1997, 57], [1998, 57], [1999, 49], [2000, 47], [2001, 42], [2002, 38], [2024, 32], [2003, 29], [2005, 29], [2004, 29], [2007, 28], [2006, 28], [2008, 25], [2009, 24], [2011, 15], [2010, 15], [2013, 15], [2014, 15], [2012, 15], [2023, 13], [2016, 12], [2015, 12], [2017, 12], [2018, 12], [2020, 12], [2019, 12], [2022, 12], [2021, 12]]

In [60]:
# regardons pour chaque année combien de pays ont au moins un Nan 

# isnull().any(axis=1) renvoie True si au moins une colonne de la ligne est vide
df_global_debt_OECD2['a_un_nan'] = df_global_debt_OECD2.isnull().any(axis=1)

# Grouper par année et compter le nombre de True
lignes_nan_par_annee = df_global_debt_OECD2.groupby('Year')['a_un_nan'].sum().astype(int)

# Afficher sous forme de liste [Année, Nombre de lignes avec NaN]
resultat_liste = lignes_nan_par_annee.reset_index().values.tolist()
print(resultat_liste)

[[1950, 37], [1951, 37], [1952, 37], [1953, 37], [1954, 37], [1955, 37], [1956, 37], [1957, 37], [1958, 37], [1959, 37], [1960, 37], [1961, 37], [1962, 37], [1963, 37], [1964, 37], [1965, 37], [1966, 37], [1967, 37], [1968, 37], [1969, 37], [1970, 37], [1971, 37], [1972, 37], [1973, 37], [1974, 37], [1975, 37], [1976, 37], [1977, 37], [1978, 37], [1979, 37], [1980, 37], [1981, 37], [1982, 37], [1983, 37], [1984, 37], [1985, 37], [1986, 37], [1987, 37], [1988, 37], [1989, 37], [1990, 35], [1991, 35], [1992, 35], [1993, 35], [1994, 33], [1995, 16], [1996, 16], [1997, 16], [1998, 16], [1999, 14], [2000, 13], [2001, 13], [2002, 12], [2003, 10], [2004, 10], [2005, 10], [2006, 9], [2007, 9], [2008, 8], [2009, 8], [2010, 6], [2011, 6], [2012, 6], [2013, 6], [2014, 6], [2015, 5], [2016, 5], [2017, 5], [2018, 5], [2019, 5], [2020, 5], [2021, 5], [2022, 5], [2023, 6], [2024, 11]]

Il y a 38 pays membres de l'OCDE, cette dernière cellule nous permet de regarder par année, sur combien de pays disposons nous des données. On remarque qu'avant 1995 on ne dispose des données complètes que quelques pays. À partie de 1995, on dispose des données complètes de plus de la moitié des pays de l'OCDE. 
Cela nous pousse à baser notre étude sur les années 1996-2024.

In [67]:
# on ne conserve que les années strictement supérieures à 1995 
df_global_debt_OECD2 = df_global_debt_OECD2[df_global_debt_OECD2['Year'] > 1995]
df_global_debt_OECD2 = df_global_debt_OECD2.drop(columns='a_un_nan')
df_global_debt_OECD2.head()

,Pays,Year,"Total private debt, all instruments (percent of GDP)","Total private debt, loans and debt securities (percent of GDP)","Household debt, all instruments (percent of GDP)","Household debt, loans and debt securities (percent of GDP)","Non-financial corporations debt, all instruments (percent of GDP)","Non-financial corporations debt, loans and debt securities (percent of GDP)",General government debt (percent of GDP),Central government debt (percent of GDP),Nominal gross domestic product (billions)
46,Australia,1996,NaN,"115,90",NaN,"56,57",NaN,"59,33","29,35","21,38","542,40"
47,Australia,1997,NaN,"121,26",NaN,"59,98",NaN,"61,28","25,91","20,51","573,07"
48,Australia,1998,NaN,"126,54",NaN,"63,55",NaN,"62,99","23,70","16,28","606,13"
49,Australia,1999,NaN,"131,83",NaN,"67,93",NaN,"63,90","22,54","15,44","638,38"
50,Australia,2000,NaN,"138,90",NaN,"70,18",NaN,"68,72","19,50","13,69","687,43"

In [69]:
df_global_debt_OECD2.shape

(1102, 11)

In [68]:
# on créé un nouveau csv avec uniquement la data depuis 1996

df_global_debt_OECD2.to_csv("OECD_debt_recent.csv", index=False, encoding="utf-8-sig")