In [19]:
import pandas as pd

file_id = "11nqJ9AiQR9rf9A6lI1Jg8_QcX4e3hqYW" # téléchargement du fichier Global Debt Database
url = f"https://drive.google.com/uc?export=download&id={file_id}"

df_global_debt_OECD = pd.read_csv(url, skiprows=3)

print(df_global_debt_OECD.head())

        Pays  Year Total private debt, \nall instruments\n(percent of GDP)  \
0  Australia  1950                                                NaN
1  Australia  1951                                                NaN
2  Australia  1952                                                NaN
3  Australia  1953                                                NaN
4  Australia  1954                                                NaN

  Total private debt, \nloans and debt securities\n(percent of GDP)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                              52,79
4                                              56,93

  Household debt, all instruments\n(percent of GDP)  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

  Household debt, loans and debt securities\n(percent of GDP)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Non-financial corporations debt, all instruments\n(percent of GDP)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Non-financial corporations debt, loans and debt securities\n(percent of GDP)  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  Public sector debt\n(percent of GDP)  \
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN

  Nonfinancial public sector debt\n(percent of GDP)  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

  General government debt\n(percent of GDP)  \
0                                       NaN
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN

  Central government debt\n(percent of GDP)  \
0                                    109,62
1                                     86,94
2                                     85,92
3                                     79,73
4                                     76,71

  Nominal gross domestic product\n(billions)
0                                       8,41
1                                       9,21
2                                       9,65
3                                      10,53
4                                      11,47

In [20]:
display(df_global_debt_OECD.sample(10))

,Pays,Year,"Total private debt, \nall instruments\n(percent of GDP)","Total private debt, \nloans and debt securities\n(percent of GDP)","Household debt, all instruments\n(percent of GDP)","Household debt, loans and debt securities\n(percent of GDP)","Non-financial corporations debt, all instruments\n(percent of GDP)","Non-financial corporations debt, loans and debt securities\n(percent of GDP)",Public sector debt\n(percent of GDP),Nonfinancial public sector debt\n(percent of GDP),General government debt\n(percent of GDP),Central government debt\n(percent of GDP),Nominal gross domestic product\n(billions)
2165,Poland,2015,"121,76","83,23","36,63","35,84","85,12","47,39",NaN,NaN,"51,06","46,12","1809,56"
2794,United States,1969,"145,02","90,75","45,97","44,93","99,05","45,82",NaN,NaN,"45,94","32,96","1008,75"
551,Czech Republic,1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2392,Slovenia,2017,"125,24","80,86","31,65","27,30","93,60","53,57",NaN,NaN,"74,89","67,42","42,63"
2274,Slovak Republic,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2222,Portugal,1997,"162,08","106,13","44,52","37,27","117,56","68,87",NaN,NaN,"58,72","57,28","102,33"
2443,Spain,1993,NaN,"90,68",NaN,"31,62",NaN,"59,07",NaN,NaN,"54,57","39,26","403,22"
1462,Japan,1987,NaN,"183,56",NaN,"59,52",NaN,"124,04",NaN,NaN,"75,83","58,29","373273,10"
1240,Ireland,1990,NaN,"78,24",NaN,NaN,NaN,NaN,NaN,NaN,"92,66","86,30","36,90"
123,Austria,1998,"130,62","119,77","42,66","43,42","87,96","76,36",NaN,NaN,"69,20","57,15","195,27"

In [21]:
df_global_debt_OECD.columns = [col.replace('\n', ' ') for col in df_global_debt_OECD.columns] # nettoyage des \n

In [22]:
df_global_debt_OECD.head()

,Pays,Year,"Total private debt, all instruments (percent of GDP)","Total private debt, loans and debt securities (percent of GDP)","Household debt, all instruments (percent of GDP)","Household debt, loans and debt securities (percent of GDP)","Non-financial corporations debt, all instruments (percent of GDP)","Non-financial corporations debt, loans and debt securities (percent of GDP)",Public sector debt (percent of GDP),Nonfinancial public sector debt (percent of GDP),General government debt (percent of GDP),Central government debt (percent of GDP),Nominal gross domestic product (billions)
0,Australia,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"109,62","8,41"
1,Australia,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"86,94","9,21"
2,Australia,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"85,92","9,65"
3,Australia,1953,NaN,"52,79",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"79,73","10,53"
4,Australia,1954,NaN,"56,93",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"76,71","11,47"

In [23]:
df_global_debt_OECD.to_csv("global_debt_OECD.csv", index=False, encoding="utf-8-sig")