In [4]:
import pandas as pd

file_id = "1GcVpUMhTgRjHNWgmBCCoLwkPSrn92OLO"
url = f"https://drive.google.com/uc?export=download&id={file_id}"

df_dette_externe = pd.read_csv(url)
print(df_dette_externe.head())

  Country Name Country Code                                       Series Name  \
0  Afghanistan          AFG    01_Cross-border loans from BIS reporting banks
1  Afghanistan          AFG  02_Cross-border loans from BIS banks to nonbanks
2  Afghanistan          AFG                03_Official bilateral loans, total
3  Afghanistan          AFG            04_Official bilateral loans, aid loans
4  Afghanistan          AFG                05_Official bilateral loans, other

                                Series Code 1990Q1 [YR1990Q1]  \
0  Q.5B0.5B0.C.5A.BKL.LDPT.1.ALL.NV.TO1.ALL                ..
1  Q.5B0.5B0.C.5A.BKL.LDPT.1.ALL.NV.TO1.NBK                ..
2  Q.5A0.5A0.C.9C.GGO.LOBT.1.ALL.NV.TO1.ALL                ..
3  Q.5A0.5A0.C.9C.GGO.LOBA.1.ALL.NV.TO1.ALL                ..
4  Q.5A0.5A0.C.9C.GGO.LOBN.1.ALL.NV.TO1.ALL                ..

  1990Q2 [YR1990Q2] 1990Q3 [YR1990Q3] 1990Q4 [YR1990Q4] 1991Q1 [YR1991Q1]  \
0                ..                ..                ..                ..
1                ..                ..                ..                ..
2                ..                ..                ..                ..
3                ..                ..                ..                ..
4                ..                ..                ..                ..

  1991Q2 [YR1991Q2]  ... 2023Q1 [YR2023Q1] 2023Q2 [YR2023Q2]  \
0                ..  ...           5460000           6256000
1                ..  ...           5425000           6220000
2                ..  ...                ..                ..
3                ..  ...                ..                ..
4                ..  ...                ..                ..

  2023Q3 [YR2023Q3] 2023Q4 [YR2023Q4] 2024Q1 [YR2024Q1] 2024Q2 [YR2024Q2]  \
0           6766000           7317000           7386000           8397000
1           6727000           7274000           7334000           8350000
2                ..          24000000                ..                ..
3                ..          24000000                ..                ..
4                ..           1000000                ..                ..

  2024Q3 [YR2024Q3] 2024Q4 [YR2024Q4] 2025Q1 [YR2025Q1] 2025Q2 [YR2025Q2]
0           7387000           8433000           9120000                ..
1           7339000           8389000           9076000                ..
2                ..                ..                ..                ..
3                ..                ..                ..                ..
4                ..                ..                ..                ..

[5 rows x 146 columns]

In [5]:
df_dette_externe.to_csv("dette_externe.csv", index=False, encoding="utf-8-sig")

In [6]:
display(df_dette_externe.sample(10))

,Country Name,Country Code,Series Name,Series Code,1990Q1 [YR1990Q1],1990Q2 [YR1990Q2],1990Q3 [YR1990Q3],1990Q4 [YR1990Q4],1991Q1 [YR1991Q1],1991Q2 [YR1991Q2],...,2023Q1 [YR2023Q1],2023Q2 [YR2023Q2],2023Q3 [YR2023Q3],2023Q4 [YR2023Q4],2024Q1 [YR2024Q1],2024Q2 [YR2024Q2],2024Q3 [YR2024Q3],2024Q4 [YR2024Q4],2025Q1 [YR2025Q1],2025Q2 [YR2025Q2]
7061,"Virgin Islands, U.S.",VIR,"06_Multilateral loans, total",Q.1E0.1E0.C.9B.IFI.LMTT.1.ALL.NV.TO1.ALL,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2410,Germany,DEU,"03_Official bilateral loans, total",Q.5A0.5A0.C.9C.GGO.LOBT.1.ALL.NV.TO1.ALL,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4480,Netherlands,NLD,01_Cross-border loans from BIS reporting banks,Q.5B0.5B0.C.5A.BKL.LDPT.1.ALL.NV.TO1.ALL,..,..,..,..,..,..,...,596485354000,595457990000,588298383000,613068740000,612063767000,593909717000,627788419000,643416115000,664560596000,..
2251,French Polynesia,PYF,"12_Liabilities to BIS banks (cons.), short term",Q.5B0.5B0.C.5A.BKC.ASTT.1.STR.MX.TO1.ALL,..,0,..,2000000,..,3000000,...,363025000,367133000,348557000,362249000,129721000,85971000,100232000,92279000,93667000,..
6261,Tajikistan,TJK,"18_International debt securities, short term",Q.5B0.5B0.M.3P.ALL.DSIT.1.STR.NV.TO1.ALL,..,..,..,..,..,..,...,0,0,0,0,0,0,0,0,0,0
3665,Libya,LBY,26_Portfolio investment assets,Q.1C0.1C0.C.9A.ALL.PITT.1.ALL.MV.TO1.ALL,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4024,Mauritania,MRT,21_Paris Club claims (non ODA),Q.6T0.5B0.C.3P.GGO.PCNO.1.ALL.NV.TO1.GGO,..,..,..,..,..,..,...,..,..,..,49000000,..,..,..,49000000,..,..
6645,Uganda,UGA,"10_Insured export credit exposures, short term...",Q.8A0.5B0.C.5A.ALL.IECE.1.STR.MX.TO1.ALL,..,..,..,..,..,..,...,840000000,928000000,928000000,982000000,982000000,1018000000,1018000000,1034000000,..,..
232,Argentina,ARG,"09_Insured export credit exposures, Berne Union",Q.8A0.5B0.C.5A.ALL.IECE.1.ALL.MX.TO1.ALL,..,..,..,..,..,..,...,15511000000,16437000000,16437000000,15335000000,15335000000,14223000000,14223000000,14423000000,..,..
4516,Netherlands Antilles,ANT,"09_Insured export credit exposures, Berne Union",Q.8A0.5B0.C.5A.ALL.IECE.1.ALL.MX.TO1.ALL,..,..,..,..,..,..,...,..,..,..,0,0,..,..,..,..,..

In [7]:
print(df_dette_externe.columns.to_list())

['Country Name', 'Country Code', 'Series Name', 'Series Code', '1990Q1 [YR1990Q1]', '1990Q2 [YR1990Q2]', '1990Q3 [YR1990Q3]', '1990Q4 [YR1990Q4]', '1991Q1 [YR1991Q1]', '1991Q2 [YR1991Q2]', '1991Q3 [YR1991Q3]', '1991Q4 [YR1991Q4]', '1992Q1 [YR1992Q1]', '1992Q2 [YR1992Q2]', '1992Q3 [YR1992Q3]', '1992Q4 [YR1992Q4]', '1993Q1 [YR1993Q1]', '1993Q2 [YR1993Q2]', '1993Q3 [YR1993Q3]', '1993Q4 [YR1993Q4]', '1994Q1 [YR1994Q1]', '1994Q2 [YR1994Q2]', '1994Q3 [YR1994Q3]', '1994Q4 [YR1994Q4]', '1995Q1 [YR1995Q1]', '1995Q2 [YR1995Q2]', '1995Q3 [YR1995Q3]', '1995Q4 [YR1995Q4]', '1996Q1 [YR1996Q1]', '1996Q2 [YR1996Q2]', '1996Q3 [YR1996Q3]', '1996Q4 [YR1996Q4]', '1997Q1 [YR1997Q1]', '1997Q2 [YR1997Q2]', '1997Q3 [YR1997Q3]', '1997Q4 [YR1997Q4]', '1998Q1 [YR1998Q1]', '1998Q2 [YR1998Q2]', '1998Q3 [YR1998Q3]', '1998Q4 [YR1998Q4]', '1999Q1 [YR1999Q1]', '1999Q2 [YR1999Q2]', '1999Q3 [YR1999Q3]', '1999Q4 [YR1999Q4]', '2000Q1 [YR2000Q1]', '2000Q2 [YR2000Q2]', '2000Q3 [YR2000Q3]', '2000Q4 [YR2000Q4]', '2001Q1 [YR2001Q1]', '2001Q2 [YR2001Q2]', '2001Q3 [YR2001Q3]', '2001Q4 [YR2001Q4]', '2002Q1 [YR2002Q1]', '2002Q2 [YR2002Q2]', '2002Q3 [YR2002Q3]', '2002Q4 [YR2002Q4]', '2003Q1 [YR2003Q1]', '2003Q2 [YR2003Q2]', '2003Q3 [YR2003Q3]', '2003Q4 [YR2003Q4]', '2004Q1 [YR2004Q1]', '2004Q2 [YR2004Q2]', '2004Q3 [YR2004Q3]', '2004Q4 [YR2004Q4]', '2005Q1 [YR2005Q1]', '2005Q2 [YR2005Q2]', '2005Q3 [YR2005Q3]', '2005Q4 [YR2005Q4]', '2006Q1 [YR2006Q1]', '2006Q2 [YR2006Q2]', '2006Q3 [YR2006Q3]', '2006Q4 [YR2006Q4]', '2007Q1 [YR2007Q1]', '2007Q2 [YR2007Q2]', '2007Q3 [YR2007Q3]', '2007Q4 [YR2007Q4]', '2008Q1 [YR2008Q1]', '2008Q2 [YR2008Q2]', '2008Q3 [YR2008Q3]', '2008Q4 [YR2008Q4]', '2009Q1 [YR2009Q1]', '2009Q2 [YR2009Q2]', '2009Q3 [YR2009Q3]', '2009Q4 [YR2009Q4]', '2010Q1 [YR2010Q1]', '2010Q2 [YR2010Q2]', '2010Q3 [YR2010Q3]', '2010Q4 [YR2010Q4]', '2011Q1 [YR2011Q1]', '2011Q2 [YR2011Q2]', '2011Q3 [YR2011Q3]', '2011Q4 [YR2011Q4]', '2012Q1 [YR2012Q1]', '2012Q2 [YR2012Q2]', '2012Q3 [YR2012Q3]', '2012Q4 [YR2012Q4]', '2013Q1 [YR2013Q1]', '2013Q2 [YR2013Q2]', '2013Q3 [YR2013Q3]', '2013Q4 [YR2013Q4]', '2014Q1 [YR2014Q1]', '2014Q2 [YR2014Q2]', '2014Q3 [YR2014Q3]', '2014Q4 [YR2014Q4]', '2015Q1 [YR2015Q1]', '2015Q2 [YR2015Q2]', '2015Q3 [YR2015Q3]', '2015Q4 [YR2015Q4]', '2016Q1 [YR2016Q1]', '2016Q2 [YR2016Q2]', '2016Q3 [YR2016Q3]', '2016Q4 [YR2016Q4]', '2017Q1 [YR2017Q1]', '2017Q2 [YR2017Q2]', '2017Q3 [YR2017Q3]', '2017Q4 [YR2017Q4]', '2018Q1 [YR2018Q1]', '2018Q2 [YR2018Q2]', '2018Q3 [YR2018Q3]', '2018Q4 [YR2018Q4]', '2019Q1 [YR2019Q1]', '2019Q2 [YR2019Q2]', '2019Q3 [YR2019Q3]', '2019Q4 [YR2019Q4]', '2020Q1 [YR2020Q1]', '2020Q2 [YR2020Q2]', '2020Q3 [YR2020Q3]', '2020Q4 [YR2020Q4]', '2021Q1 [YR2021Q1]', '2021Q2 [YR2021Q2]', '2021Q3 [YR2021Q3]', '2021Q4 [YR2021Q4]', '2022Q1 [YR2022Q1]', '2022Q2 [YR2022Q2]', '2022Q3 [YR2022Q3]', '2022Q4 [YR2022Q4]', '2023Q1 [YR2023Q1]', '2023Q2 [YR2023Q2]', '2023Q3 [YR2023Q3]', '2023Q4 [YR2023Q4]', '2024Q1 [YR2024Q1]', '2024Q2 [YR2024Q2]', '2024Q3 [YR2024Q3]', '2024Q4 [YR2024Q4]', '2025Q1 [YR2025Q1]', '2025Q2 [YR2025Q2]']